navigation, nav {
    width: 100%;
}

.container {
    background-color: #1a1919;
    padding: 25px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(162, 162, 162);
}

.logo span {
    font-size: 35px;
    color: #d6ea62;
}

.logo {
    color: white;
    font-size: 35px;
}

h {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    height: 300px;
    width: 670px;
    margin-top: 35px;
    margin-left: 935px;
    position: relative;
    background-color: rgb(57, 57, 57);
    align-items: center;
    border: 1px solid #d6ea62;
    border-radius: 15px;    
}

body {
    background-color: rgb(42, 42, 42);
}

.postita {
    background-color: #d6ea62;
    padding: 13px 30px;
    border-radius: 15px; 
    margin-left: 527px;
    margin-top: 238px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}